.navbar{
    box-shadow: 5px 10px 8px;
}

.bio{
    display:flex;
    
  
    text-align: center;
    align-items: center;
    justify-content: center;
    
  
}
.jumbotron{
    background-color: #ffc04c;
    text-align: center;
    
}


.card-img-top{
    border-radius: 25px;
    
    
}

@media screen and (max-width: 413px){
    .bio{
        display:block;
    }
}